<div class="container">
  <div class="row">
    <div class="col-sm-12 d-flex flex-row">

      <% @cocktails.each do |cocktail| %>
        <div class="card mt-4 mr-sm-3">
          <div class="card-body">
            <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
            <p class="card-text">
              </p>
            <p><%= link_to 'view details', cocktail_path(cocktail)  %></p>
            <p><%= link_to 'delete cocktail', cocktail_path(cocktail), method: :delete %></p>
          </div>
        </div>
      <% end %>
    </div>

    </div>
  </div>
</div>
<hr>
